
html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 28px;
    font-color: #5d5fc2
    padding: 12px;
    
}

h2 {
    font-size: 24px;
    font-color: #8d8fec
    padding: 12px;
    
}

h3 {
    font-size: 18px;
    font-color: #8d8fec
    padding: 12px;
    
}

p {
    font-size: 12px;
    font-color: black
    padding: 12px;
}



.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    padding: 12px;
}